* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    height: 100vh;
    background: #f8f9fa;
    text-align: center;
}

.header {
    display: flex;
    justify-content: end;
    align-items: center;

}

.header-gmail,
.header-image,
.material-symbols-outlined {
    color: #68696a;
    margin: 10px;
    cursor: pointer;
}

.header-button {
    color: white;
    background-color: #1b73e7;
}

#search-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    width: 100%;
}

#logo {
    margin-bottom: 20px;
}

#oddity {
    display: none;
    font-size: 60px;
    margin-bottom: 30px;
}

.search-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1600px;
}

input[type="text"] {
    border: 1px solid #dfe1e5;
    padding: 10px;
    border-radius: 24px;
    width: 100%;
    max-width: 550px;
    font-size: 16px;
    outline: none;
}

.search-box .fa-magnifying-glass {
    position: absolute;
    left: 380px;
    color: #81858b;
    font-size: 14px;
    cursor: pointer;
}

.search-box .fa-keyboard {
    position: absolute;
    right: 450px;
    color: #81858b;
    font-size: 18px;
    cursor: pointer;
}

.search-box .search-by-voice {
    position: absolute;
    right: 410px;
    cursor: pointer;
}

.search-box .search-by-image {
    position: absolute;
    right: 380px;
    cursor: pointer;
}

button {
    margin: 10px 5px 10px 5px;
    padding: 10px 20px;
    background: #f3f3f4;
    color: #68696a;
    border: 1px solid #f3f3f4;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

button:hover {
    background: #e0e0e0;
}

.language {
    margin-top: 10px;
    color: #81858b;
    font-size: 14px;

}

.language-change {
    color: #0000ff;
}

.language-change:hover {
    cursor: pointer;
}

.footer {
    display: block;
    position: absolute;
    bottom: 0;
    height: 100px;
    width: 100%;
    background-color: #f2f2f2;
    text-align: center;
    color: #81858b;
    font-size: 14px;
}

.footer-ukraine {
    display: flex;
    height: 50%;
    text-align: left;
    align-items: center;
    margin-left: 20px;
}

hr {
    border-top: 2px solid #e2e2e2;
}

.footer-info {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 50%;
    margin: 0 20px 0 20px;
}

.footer-about {
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.footer-about span {
    margin: 10px 10px 10px 0;
}

.footer-confidentiality {
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.footer-confidentiality span {
    margin: 0 10px 10px 10px;
}